.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background:url('./Assets/bg-large.jpg');
  background-repeat: ;
  background-size: cover;
  height: 100vh;
  color: aliceblue;
  overflow: hidden;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

}
@media(max-width:1366px){
  .App{
    background: url('./Assets/bg-small.jpg');
  }
}
